@media (min-width: 48em) {
    main {
        width: 100%;
    }

    #description {
        width: 35em;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    h1,
    h2 {
        font-size: 2em;
        width: 35em;
        text-align: center;
    }

    #cards {
        display: grid;
        width: 1070px;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1em;
        row-gap: 0em;
        column-gap: 1.5em;
        justify-content: center
    }

    #green {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        align-self: center;
    }

    #red {
        grid-column: 2 / 3;
    }

    #yellow {
        grid-column: 2 / 3;
    }

    #blue {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
        align-self: center;
    }
}